// Colors
$primary: #F8E9D4;
$primaryLight: #F8F2EF;
$primarydark: #61624D;
$secondary: #823C47;
$white: #ffffff;

@font-face {
    font-family: 'GT-Ultra';
    src: url('/assets/fonts/GT-Ultra-Fine-Thin-Trial.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Abc-Fvorite';
    src: url('/assets/fonts/ABCFavorit-Regular-Trial.woff2') format('woff2'),
        url('/assets/fonts/ABCFavorit-Regular-Trial.woff') format('woff'),
        url('/assets/fonts/ABCFavorit-Regular-Trial.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Abc-Fvorite';
    src: url('/assets/fonts/ABCFavorit-Light-Trial.woff2') format('woff2'),
        url('/assets/fonts/ABCFavorit-Light-Trial.woff') format('woff'),
        url('/assets/fonts/ABCFavorit-Light-Trial.otf') format('opentype');
    font-style: normal;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'GT-Ultra';
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Abc-Fvorite';
    overflow-x: hidden;
    background: $primary;
    font-weight: 300;
}

.main-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.mobile {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    padding: 05px;
}

::-webkit-scrollbar-track {
    background-color: $primary;
}

::-webkit-scrollbar-thumb {
    background: $secondary;
    border: solid 1px $primary;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: $primary;
}


@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1688px;
    }
}


.text-center {
    text-align: center;
}

.heading {
    font-size: 72px;
    line-height: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;

    &.primary {
        color: $primary;
    }

    &.secondary {
        color: $secondary;
    }

    &.white {
        color: $white;
    }
}



.para {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;

    &.primary {
        color: $primary;
    }

    &.secondary {
        color: $secondary;
    }

    &.white {
        color: $white;
    }

    &.fs-16 {
        font-size: 16px;
    }
}

p.label {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: $secondary;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.uppercase {
    text-transform: uppercase !important;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Button
.btn-antelopes {
    padding: 12px 28px;
    border-radius: 30px;
    border: 1px solid $primary;
    font-size: 16px;
    font-weight: 500;
    color: $primary;
    background: $secondary;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 5px 15px 0px rgba(5, 1, 0, 0.20);

    img {
        margin-left: 8px;
        transition: transform 0.3s ease-in-out;
        display: inline-block;
    }

    &:hover {
        color: $primary;

        img {
            transform: translateX(5px);
        }
    }
}


.btn-antelopes1 {
    padding: 12px 28px;
    border-radius: 30px;
    border: 1px solid $secondary;
    font-size: 16px;
    font-weight: 500;
    color: $secondary;
    background: $primary;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 5px 15px 0px rgba(5, 1, 0, 0.20);

    img {
        margin-left: 8px;
        transition: transform 0.3s ease-in-out;
        display: inline-block;
    }

    &:hover {
        color: $secondary;

        img {
            transform: translateX(5px);
        }
    }
}

.btn-antelopes2 {
    padding: 12px 28px;
    border-radius: 30px;
    border: 1px solid #61624D;
    font-size: 16px;
    font-weight: 500;
    color: #61624D;
    background: $primary;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 5px 15px 0px rgba(5, 1, 0, 0.20);

    img {
        margin-left: 8px;
        transition: transform 0.3s ease-in-out;
        display: inline-block;
    }

    &:hover {
        color: #61624D;

        img {
            transform: translateX(5px);
        }
    }
}

.call {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 10000;

    img {
        width: 50px;
    }
}

// Desktop header
.desktop-header {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: relative;
    transition: all 0.3s ease;
    visibility: hidden;

    &.sticky {
        ul {
            position: fixed;
            top: 0;
            width: 100%;
            transition: all 0.3s ease;
        }
    }

    ul {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 0;
        width: 100%;
        background-color: $primary;
        transition: all 0.3s ease;
        padding-top: 10px;
        padding-bottom: 10px;


        li {
            .logo {
                width: 140px;
            }

            a {
                padding: 6px 10px;
                text-decoration: none;
                color: #040100;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 340;
            }
        }
    }
}

// Start banner section
.banner {
    display: flex;
    background-image: url(/assets/images/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;

    .left {
        width: 20%;
        background: $primary;
        transition: width 0.5s ease;

    }

    .middle {
        width: 60%;
        transition: width 0.5s ease;
        position: relative;

        .heading {
            font-size: 64px;
            line-height: 70px;
            font-weight: 600;
            font-feature-settings: 'liga' off, 'clig' off;
            -webkit-text-stroke-color: #FBE8D1;
            -webkit-text-stroke-width: 1;
            -webkit-text-stroke-color: color(display-p3 0.9725 0.9137 0.8314);
        }

        .logo {
            text-align: center;

            img {
                width: 170px;
                transition: width 0.5s ease;
                padding-top: 6px;
            }
        }

        .content {
            text-align: center;
            padding-top: 25vh;

            .para {
                padding-top: 10px;
                padding-bottom: 20px;
            }
        }

        .discover {
            position: absolute;
            left: 50%;
            bottom: 30px;
            transform: translate(-50%);

            a {
                display: block;
                text-decoration: none;
                font-size: 18px;
                line-height: 20px;
                color: $primary;
                font-weight: 400;
                text-transform: uppercase;
                position: relative;
            }

            img {
                display: block;
                margin: 0 auto;
                width: 30px;
                margin-top: 12px;

                &.circle {
                    position: absolute;
                    top: 19px;
                    left: 31px;
                    transform: rotate(0deg) scale(1);
                    transition: transform 0.5s ease;
                    /* Smooth rotation and scaling */
                }
            }

            a:hover {
                .circle {
                    transform: rotate(60deg) scale(1.2);
                    /* Rotate and enlarge */
                }
            }
        }

    }

    .right {
        width: 20%;
        background: $primary;
        transition: width 0.5s ease;

        .btn-back {
            margin: 30px;
        }

        ul {
            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 40px;
                    color: $secondary;
                }
            }
        }

        .discover-more {
            margin-left: 30px;
            margin-top: 20px;
        }

    }

    .humbergure {
        display: none;
    }

    &.full-banner .left,
    &.full-banner .right {
        width: 0;

        .btn-back {
            display: none;
        }

        .humbergure {
            display: block;
            position: absolute;
            right: 10%;
            top: 15px;
            cursor: pointer;
        }
    }

    &.full-banner .middle {
        width: 100%;

        .logo {
            img {
                visibility: hidden;
            }
        }

    }
}

// Start About section
.about {
    position: relative;
    background-image: url(/assets/images/about-wave1.svg);
    background-size: cover;
    background-position: center -14px;
    transition: background 0.5s ease-in-out;
    min-height: 100vh;

    .row {
        padding-top: 110px;
    }


    h2.heading {
        text-transform: unset;
        line-height: 60px;
        font-size: 92px;
        letter-spacing: 1px;

        &.lheight {
            line-height: 50px;
        }

        span {
            font-size: 48px;
        }
    }

    .bottom {
        padding-top: 440px;
        margin-bottom: 30px;

        ul {
            list-style-type: none;
            padding-left: 0;

            li {
                font-weight: 500;
                line-height: 40px;
            }
        }

        .heading {
            span {
                line-height: 30px;
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/assets/images/about-wave2.svg);
        background-size: cover;
        background-position: center center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        z-index: 0;
    }

    &:hover::before {
        opacity: 1;
    }

    * {
        position: relative;
        z-index: 1;
    }
}


// Start Style
.style {
    padding-top: 70px;

    .left-bg {
        background-image: url(/assets/images/bg-sec.webp);
        background-size: cover;
        background-position: center;
        padding: 80px 120px;
        display: flex;
        align-items: center;

        p {
            line-height: 35px;
        }
    }

    .style-images {
        padding-right: 0;
    }

    .s-item {
        overflow: hidden;
        height: 100%;

        img {
            width: 100%;
            height: auto;
            transition: transform 0.5s ease;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    .top {
        display: flex;
        gap: 10px;

        .top-right {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    .bottom {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }


}

// Start Architecture
.architecture {
    padding-top: 100px;
    padding-bottom: 0px;
    min-height: 100vh;

    .col-md-8 {
        width: 70%;
    }

    .col-md-4 {
        width: 30%;
    }

    .wonder {
        padding-top: 29%;

        p {
            color: $secondary;
            font-weight: 400;
            font-size: 32px;
        }

        ul {
            list-style-type: none;
            padding-left: 0;

            li {
                color: $secondary;
                line-height: 56px;
                font-weight: 400;
            }
        }
    }

    .creative {
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        height: 100vh;
        margin-left: -100px;


        img {
            position: relative;
            transition: all 0.3s ease-in-out;
        }

        .art1 {
            margin-bottom: -160px;
            z-index: 4;
        }

        .art2 {
            margin-bottom: -210px;
            z-index: 3;
        }

        .art3 {
            z-index: 2;
        }

        .art4 {
            margin-top: -180px;
            z-index: 1;
        }

        &:hover {
            .art1 {
                transform: translateY(-200px);
            }

            .art2 {
                transform: translateY(-120px);
            }

            .art3 {
                transform: translateY(-10px);
            }

            .art4 {
                transform: translateY(70px);
            }

            .art-label {
                opacity: 1;
                visibility: visible;
            }
        }

        .art-label {
            display: flex;
            align-items: center;
            gap: 10px;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s ease;

            p {
                font-size: 14px;
                color: #823C47;
                text-align: left;
            }

            &.art-label-1 {
                top: 180px;
                right: -60px;
            }

            &.art-label-2 {
                top: 330px;
                right: -24px;
            }

            &.art-label-3 {
                bottom: 330px;
                left: -90px;

                img {
                    transform: rotate(180deg);
                }
            }

            &.art-label-4 {
                bottom: 50px;
                transform: translate(50%)
            }
        }

    }
}

// Start lifestyle
.suites {
    position: relative;
    padding-top: 60px;

    .slick-slider {
        margin: 0 -6px;
    }

    .slick-slide {
        margin-right: 6px;
        margin-left: 6px;
    }

    .suites-info {
        background: $primary;
        width: 730px;
        padding: 40px;
        position: absolute;
        left: 50%;
        bottom: -26%;
        transform: translate(-50%, -50%);
    }
}

// Start amenities
.amenities {
    padding-top: 120px;
    padding-bottom: 120px;

    .heading {
        font-size: 90px;
        line-height: 100px;
    }

    #pills-tab {
        padding-top: 100px;
        border-bottom: 1px solid $secondary;

        .nav-item {

            .nav-link {
                color: #CFB694;
                padding: .5rem 4rem .3rem 0;
                font-size: 36px;

                &.active {
                    background: none;
                    color: $secondary;
                }
            }
        }
    }

    .tab-content {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }

    .para {
        font-weight: 400;
    }

    .clubhouse {
        padding-top: 30px;

        .head {
            border-bottom: 1px solid $secondary;
            font-size: 28px;
            color: $secondary;

            span {
                color: #CFB694;
                padding-left: 16px;
            }
        }

        .amenities-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .para {
                width: 20%;
                padding-bottom: 2rem;
                font-weight: 400;
            }
        }

    }
}


// Start Interiors 
.interiors {
    display: flex;
    min-height: 100vh;
    background-image: url(/assets/images/lifestyle.webp);
    background-size: cover;
    background-position: center;

    p.label {
        color: $primary;
    }

    .heading {
        font-size: 90px;
        line-height: 62px;
        padding-top: 24px;
        padding-bottom: 20px;

        span {
            font-size: 70%;
        }
    }

    .left {
        width: 40%;
        position: relative;

        .bg-left {
            position: absolute;
            top: 0;
            left: -100%;
            background-image: url(/assets/images/luxury-left.webp);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
            opacity: 0;
        }
    }

    .middle {
        width: 40%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        transition: width 0.5s ease;

        .content {
            width: 550px;
            margin: 0 auto;
        }
    }

    .right {
        width: 20%;
        position: relative;

        .bg-right {
            position: absolute;
            top: 0;
            right: -100%;
            background-image: url(/assets/images/luxury-right.webp);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
            opacity: 0;
        }
    }

    &:hover {
        .left {
            .bg-left {
                left: 0;
                opacity: 1;
            }
        }

        .middle {
            width: 40%;
        }

        .right {
            .bg-right {
                right: 0;
                opacity: 1;
            }
        }
    }
}


// Start Gallery   
.gallery {
    padding-top: 80px;
    padding-bottom: 120px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/assets/images/gallery/gallery-bg.webp);
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        z-index: -1;
    }

    &:hover::before {
        opacity: 1;
    }

    .heading {
        color: #61624D;
        margin-bottom: 40px;
        font-size: 96px;
    }

    .container-fluid {
        max-width: 1688px;
    }

    .container {
        width: 1200px;
        margin: 0 auto;
        max-width: 80%;
    }

    .slick-list {
        padding-top: 8% !important;
        padding-bottom: 8% !important;
        padding-left: 20% !important;
        padding-right: 20% !important;
    }

    .slick-dots {
        text-align: center;


        li {
            background: #61624d84;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            margin: 0 8px;

            &.slick-active {
                background-color: #61624D;
                width: 13px;
                height: 13px;
            }
        }
    }

    .slick-track {
        max-width: 100% !important;
        transform: translate3d(0, 0, 0) !important;
        perspective: 100px;
    }

    .slick-slide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        width: 100% !important;
        transform: translate3d(0, 0, 0);
        transition: transform 1s, opacity 1s;
    }

    .slick-snext,
    .slick-sprev {
        display: block;
    }

    .slick-current {
        opacity: 1;
        position: relative;
        display: block;
        transform: translate3d(0, 0, 20px);
        z-index: 2;
    }

    .slick-snext {
        opacity: 1;
        transform: translate3d(30%, 0, 0px);
        z-index: 1;
    }

    .slick-sprev {
        opacity: 1;
        transform: translate3d(-30%, 0, 0px);
    }

    .slick-arrow {
        width: 12px;
        z-index: 10;
        cursor: pointer;

        &.prev {
            position: absolute;
            bottom: -22px;
            left: 40%;
        }

        &.next {
            position: absolute;
            bottom: -22px;
            right: 40%;
        }
    }

}

// Start Plans
.plans {
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: #61624D;
    background-image: url(/assets/images/plans/floorplans.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;

    h2.heading {
        text-align: right;
        padding-bottom: 100px;
        font-size: 96px;
    }

    h3.heading {
        color: $primarydark;
        font-size: 48px;
        line-height: 50px;
        padding-top: 20px;
    }

    p {
        color: $primarydark;
        font-size: 20px;
        margin-top: 12px;
        font-weight: 400;
    }

    .plan-item {
        margin-bottom: 10px;
        background: $primary;
        border-radius: 40px;
        overflow: hidden;
        padding: 26px 10px;
        text-align: center;

        .img-box {
            position: relative;

            .btn-antelopes2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }
}

// Start location
.location {
    padding-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;

    .bg {
        background-image: url(/assets/images/location-bg.webp);
        background-size: contain;
        background-position: 135% top;
        background-repeat: no-repeat;
        height: 100vh;
        transition: background-position 1s ease-in-out;

        .info {
            background: $primary;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 120px;
            padding-right: 120px;

            .heading {
                color: $primarydark;
            }

            p {
                color: $primarydark;
            }
        }
    }

    &:hover {
        .bg {
            background-position: 100% top;
        }
    }

}

// Start map
.distination {
    padding-bottom: 80px;

    .map-bg {
        background-image: url(/assets/images/map-bg.webp);
        background-size: 100%;
        background-position: center;
        position: relative;
        height: 1050px;

        .zoom {
            position: absolute;
            bottom: 15px;
            left: 15px;
            cursor: pointer;
            transition: transform .1s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .heading {
        color: $primarydark;
        text-align: right;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .btn-antelopes2 {
        margin-left: 50px;
    }

    #accordionExample {
        padding-left: 70px;
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .accordion-collapse {
        transition: height 0.5s ease, opacity 0.5s ease;
    }

    .accordion-body {
        transition: opacity 0.5s ease;
    }

    .accordion-item {
        background-color: #FBE8D1;
        overflow: hidden;
        border-radius: 40px !important;
        margin-top: 24px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

        .accordion-button {
            background-color: #FBE8D1;
            color: #61624B;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 28px;
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid #61624b52;
            padding-top: 26px;
            padding-bottom: 20px;

            &:after {
                width: 1.4rem;
                height: 1.4rem;
                background-image: url(/assets/images/accarrow.png);
            }

            &:not(.collapsed)::after {
                transform: rotate(-150deg);
            }

            &.collapsed {
                border-bottom: 0;
            }
        }

        p {
            color: #61624B;
            margin-bottom: 8px;
        }
    }
}

// Start Contact 
.contact {
    background-image: url(/assets/images/form-bg.webp);
    background-size: cover;
    background-position: center;
    padding-top: 90px;
    padding-bottom: 90px;

    .heading {
        color: $primaryLight;
        margin-bottom: 10px;
        font-size: 96px;
        line-height: 106px;
    }

    p.label {
        color: $primary;
    }

}

.contact-form {
    width: 100%;
    padding-left: 140px;

    label {
        font-size: 16px;
        text-transform: uppercase;
        color: $primary;
        margin-bottom: 0;
    }


    .mb-3 {
        margin-bottom: 50px !important;
    }

    p.required {
        color: $primary;
        text-align: right;
        margin-top: -2.5rem;
    }

    .form-control,
    .form-select {
        background-color: transparent;
        border: 0;
        outline: none;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid $primary;
        color: $primary;
        height: 60px;
        padding-left: 0;
        font-size: 18px;
    }

    .form-select {
        color: $primary;
        background: #5a70e100 url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'><path fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") right .75rem center/8px 10px no-repeat !important;
    }
}

// Start Policy
.policy {
    background-color: $primary;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;

    .privacy-para h5 {
        font-size: 20px;
        font-weight: 600;
    }

    .privacy-para p,
    .privacy-para ul li {
        font-size: 16px;
        padding: 5px 0;
    }
}

// Start footer
.footer {

    .top {
        padding-top: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
        display: flex;

        a {
            color: #040100;
        }

        p.label {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-transform: capitalize;
            color: #61624D;
        }

        p,
        ul li {
            font-size: 14px;
            color: #050100;
        }

        ul li {
            padding-bottom: 5px;
        }

        .box2 {
            p.para {
                line-height: 26px;
            }

            .social {
                display: flex;
                gap: 12px;
                margin-top: 10px;
            }
        }

        .box3 {
            a {
                text-decoration: none;
            }

            div {
                margin-bottom: 20px;
            }
        }

        .box1 {
            width: 33.33%;
        }

        .box2 {
            width: 33.33%;
        }

        .box3 {
            width: 33.33%;
        }

    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;

        p {
            font-size: 14px;

            a {
                color: #040100;
            }

            img {
                width: 30px;
            }
        }
    }

    &.thankfooter {
        .top {
            justify-content: space-between;
            align-items: center;

            .box1 {
                width: 100%;
            }

            .box-4 {
                width: 100%;
            }
        }

        a {
            white-space: nowrap;
        }

        .social {
            margin-top: 20px;
            display: flex;

            a {
                display: block;
                margin-right: 15px;
            }

        }
    }
}

// Download Brocure Modal
.modal-title {
    color: $primary;
}

.modal-header {
    border-bottom: 0;

    h3 {
        padding-left: 40px;
        margin-bottom: -30px;
        padding-top: 16px;
        color: #F7F2EF;
    }
}

.btn-close {
    background: url(/assets/images/close.png);
    background-repeat: no-repeat;
    opacity: 1;
}

#downloadBrochure {
    .modal-dialog {
        max-width: 1450px;


        .modal-content {
            background-image: url(/assets/images/form-bg.webp);
            background-size: cover;
            background-position: center;
            padding-left: 80px;
            padding-bottom: 30px;

            .heading {
                color: $primary;
            }

            .contact-form {
                padding-left: 20px;
                padding-right: 30px;
            }

        }
    }
}

// Thank you page
.thanks {
    height: 100vh;
    position: relative;
    overflow: hidden;

    .thanks-content {
        position: absolute;
        bottom: 25%;
        right: 5%;
        text-align: right;

        .heading {
            font-size: 96px;
            line-height: 74px;

            span {
                font-size: 75%;
            }


        }

        .para {
            font-size: 32px;
        }

    }

    .logo1 {
        padding-left: 120px;
        padding-top: 100px;

    }

    .logo2 {
        left: 120px;
        top: 100px;
        z-index: 100;
        position: absolute;
        display: none;
    }



    .bg-top,
    .bg-bottom {
        position: absolute;
        width: 100%;
        animation-duration: 2s;
        /* Duration of the animation */
        animation-timing-function: ease-out;
        /* Smooth animation */
        animation-fill-mode: forwards;
        /* Keeps the end state */
    }

    .bg-top {
        top: -100%;
        /* Start above the view */
        animation-name: slideDown;
        /* Animation name */
    }

    .bg-bottom {
        bottom: -100%;
        /* Start below the view */
        animation-name: slideUp;
        /* Animation name */
    }

    @keyframes slideDown {
        from {
            top: -100%;
            /* Starting position */
        }

        to {
            top: -5%;
            /* End position */
        }
    }

    @keyframes slideUp {
        from {
            bottom: -100%;
            /* Starting position */
        }

        to {
            bottom: -5%;
            /* End position */
        }
    }

}


#map {
    .modal-dialog {
        max-width: 1100px;

        .modal-body {
            padding: 0;

            .btn-close {
                position: absolute;
                right: 5px;
                top: 5px;
                opacity: 1;
                z-index: 1000;
            }
        }
    }
}

/*===== Custom Modal Animation =======*/
.modal.fade .modal-dialog {
    transition: transform 0.5s ease-out;
    transform: translateY(-100%);
}

.modal.fade.show .modal-dialog {
    transform: translateY(0);
}

.modal.fade .modal-dialog {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: translateY(-100%);
    opacity: 0;
}

.modal.fade.show .modal-dialog {
    transform: translateY(0);
    opacity: 1;
}

/*===== Custom Modal Animation =======*/

/* Loader video styling */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/images/loader/loader-bg.webp);

    .letters {
        position: relative;
        width: 100%;
        height: 100vh;
        /* Full-screen height */
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* Allows wrapping of items */
    }

    .letters img {
        position: absolute;
        opacity: 0;
        /* Hidden initially */
        transform: scale(0.5);
        /* Smaller size initially */
        transition: all 1s ease-in-out;

        /* Smooth transition for animation */
        /* Position each letter dynamically */
        &.a {
            top: 10%;
            left: 10%;
        }

        &.n {
            top: 20%;
            left: 35%;
        }

        &.t {
            top: 10%;
            left: 60%;
        }

        &.e {
            top: 40%;
            left: 80%;
        }

        &.l {
            bottom: 10%;
            left: 10%;
        }

        &.o {
            bottom: 20%;
            left: 33%;
        }

        &.p {
            bottom: 32%;
            left: 60%;
        }

        &.e1 {
            bottom: 5%;
            right: 20%;
        }

        &.s {
            bottom: 10%;
            right: 5%;
        }
    }



    /* Animation: Reveal letters */
    .letters img.animate {
        opacity: 1;
        /* Fully visible */
        transform: scale(1);
        /* Original size */
    }

}

.main-wrapper {
    visibility: none;
}

// Responsiveness
@media(max-width: 768px) {
    .heading {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 1px;

        br {
            display: none;
        }
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .para {
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        text-align: justify;
    }

    .banner {
        height: 100vh;
        background-image: url(/assets/images/res/banner.webp);

        .middle {
            min-width: 100% !important;

            .logo {
                position: fixed;
                width: 100%;
                z-index: 10;

                img {
                    width: 250px;
                }
            }

            .heading {
                font-size: 26px;
                line-height: 32px;
                letter-spacing: 1px;
            }

            .content {
                padding-top: 30vh;
                max-width: 380px;
                margin: 0 auto;
            }


        }

        .left {
            width: 0;
        }

        &.full-banner {
            .right {
                width: 0;
            }
        }

        .right {
            width: 80%;
            position: fixed !important;
            right: 0;
            height: 100%;
            z-index: 13;

            .humbergure {
                right: 10px !important;
                top: 9px !important;
            }

            .btn-antelopes {
                margin-left: 16px;
                margin-top: 44px
            }

            ul li a {
                line-height: 50px;
                color: #050100;
                text-transform: uppercase;
                font-size: 14px;
            }
        }
    }

    .mobile-header {
        background: $primary;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 10px;
        z-index: 11;
    }

    .about {
        background-image: url(/assets/images/res/about.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0% 62%;
        padding-bottom: 60px;

        &:hover {
            background-image: unset;
        }

        .row {
            padding-top: 70px;
        }

        h2.heading {
            font-size: 40px;
            line-height: 34px;

            span {
                font-size: 64%;
            }

            &.lheight {
                line-height: 34px;
            }
        }

        .col-md-5 {
            padding-bottom: 50px;
        }

        .bottom {
            .col-md-7 {
                .heading.secondary {
                    margin-top: 270px;
                }

                h2.heading.secondary.uppercase.pb-2 span {
                    font-size: 30px;
                    line-height: 38px;
                    letter-spacing: 2px;
                }
            }
        }

    }

    .style {
        padding-top: 0;
        padding-bottom: 0;

        .left-bg {
            padding: 60px 15px;
        }

        .style-images {
            padding-left: 0;
        }

        .py-5 {
            padding-top: 2rem !important;
            padding-bottom: 2rem !important;
        }

        .heading {
            font-size: 28px;
            letter-spacing: 2px;
            line-height: 36px;

            br {
                display: none;
            }
        }
    }

    .architecture {
        padding-top: 79px;
        padding-bottom: 70px;

        .col-md-8,
        .col-md-4 {
            width: 100%;
        }

        .wonder {
            padding-top: 10%;

            ul li {
                line-height: 44px;
            }
        }
    }

    .suites {
        height: 100vh;

        .suites-slider {
            display: none;
        }

        .suites-info {
            left: 0;
            top: 52%;
            transform: unset;
            width: auto;
            padding: 15px;
            box-shadow: none;
        }
    }

    .amenities {
        padding-bottom: 30px;
        padding-top: 40px;
        position: relative;

        br {
            display: none;
        }

        .heading {
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 2px;
        }

        #pills-tab {
            padding-top: 30px;

            .nav-item .nav-link {
                font-size: 20px;
                padding: 0.5rem 1.5rem 0.3rem 0;
            }
        }

        .tab-content {
            .flex-between {
                flex-wrap: wrap;

                p {
                    width: 50%;
                    padding-bottom: 10px;
                }
            }
        }

        .clubhouse {
            padding-top: 30px;

            .nav-item .nav-link {
                text-align: left;
            }

            .amenities-list {
                justify-content: space-between;

                .para {
                    width: 49%;
                    padding-bottom: 16px;
                }
            }
        }

    }

    .interiors {
        min-height: auto;
        padding-top: 70px;
        padding-bottom: 70px;

        .left,
        .right {
            display: none;
        }

        .middle {
            width: 100%;
            padding: 0 16px;

            .content {
                width: 100%;

                .heading {
                    font-size: 44px;
                    line-height: 36px;

                    span {
                        font-size: 70%;
                    }
                }
            }
        }
    }

    .gallery {

        &:before {
            background-image: url(/assets/images/res/gallery.webp);
            background-size: contain;
        }

        .heading {
            font-size: 44px;
        }

        padding-top: 80px;
        padding-bottom: 80px;

        .container {
            max-width: 100%;
        }

        .slick-list {
            padding-bottom: 12% !important;
        }

        .slick-arrow {
            display: none !important;
        }
    }

    .plans {
        padding: 60px 0;
        background-size: contain;

        h2.heading {
            font-size: 44px;
            line-height: 60px;
            text-align: center;
            padding-bottom: 20px;
        }

        h3.heading {
            font-size: 30px;
            padding-top: 0;
        }

        p {
            font-size: 18px;
        }

        .btn-antelopes2 {
            min-width: 216px !important;
        }

    }

    .location {

        .bg {
            background-position: bottom left;

            .info {
                height: auto;
                padding: 40px 15px;
            }

        }

        &:hover {
            .bg {
                background-position: top center;
            }
        }
    }

    .distination {
        padding: 30px 0;

        .row {
            flex-direction: column-reverse;
        }

        .heading {
            text-align: left !important;
            padding-top: 0;
            padding-bottom: 10px;
            font-size: 44px;
        }

        .text-center {
            text-align: left !important;

            .btn-antelopes2 {
                margin-left: 0;
                margin-bottom: 30px;
            }
        }

        #accordionExample {
            padding: 0;

            .accordion-item .accordion-button {
                padding-top: 20px;
                padding-bottom: 16px;
            }
        }

        .map-bg {
            background-image: url(/assets/images/res/map.webp);
            background-repeat: no-repeat;
            height: 460px;
        }
    }

    .contact {
        padding-top: 40px;
        padding-bottom: 40px;

        .heading {
            font-size: 44px;
        }
    }

    .contact-form {
        width: 98%;
        padding-left: 0;
    }

    .footer {
        position: relative;

        .top {
            flex-wrap: wrap;
            background-image: url(/assets/images/amber-bg.webp);
            background-size: cover;
            background-position: center;
            padding-bottom: 15px;
            position: relative;

            .box4 {
                display: none;
            }

            .box2 {
                .social {
                    position: absolute;
                    bottom: 40px;
                    left: 15px;
                }
            }

            .box1,
            .box2,
            .box3,
            .box4 {
                width: 100%;
            }

            .box2 {
                padding-top: 20px;
                padding-bottom: 30px;
            }

            .box3 {
                padding-left: 0;

                div {
                    margin-bottom: 15px;
                }
            }

            .box4 {
                padding-left: 0;
                padding-top: 20px;
                padding-bottom: 30px;
            }
        }

        .bottom {
            flex-wrap: wrap;

            .box1 {
                width: 100%;
            }

            .box4 {
                width: 100%;
            }

            a {
                color: #7d7d7d;
            }
        }
    }

    .thanks {
        .thanks-content {
            bottom: 42%;

            .heading {
                font-size: 44px;
                line-height: 50px;

                br {
                    display: block;
                }
            }

            .para {
                font-size: 20px;
            }


        }

        .logo2 {
            top: 30px;
            left: 36%;

            img {
                width: 100px;
            }
        }
    }

    #loader .letters img {
        width: 60px;
    }
}